.card-preview {
    height: calc(842px / 2);
    width: calc(595px / 2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
    overflow: hidden;
    font-family: 'Anton', sans-serif;
    user-select: none;
}

.card-preview .card-body {
    padding: 0;
}

.header-card-preview {
    position: relative;
    background: #e60000;
    width: 100%;
    height: 65px;
    margin: 0px auto;
}

.header-card-preview::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 30px solid #e60000;
}

.header-card-preview > h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 3px; 
}

.body-card-preview {
    height: calc(100% - 65px);
    padding: 50px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body-card-preview > h2 {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}

.body-card-preview > h3 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 30px;
}

.body-card-preview > p {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}